/* AZZERAMENTO */
*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
/* FONT-FAMILY */
body{
  font-family: ROBOTO sans-serif;
}
/* HEADER */
header{
  background-image: url(../assets/img7/background-header.png);
  background-color: #0C325A;
  background-size:60%;
  background-position: bottom right;
  background-repeat: no-repeat;
  height: 500px;
  width: 100%;
}
header nav{
  padding-top: 20px;
}
nav > #logo{
  vertical-align: middle;
  padding-right: 10px;
}
nav ul{
  display: inline-block;
  list-style: none;
}
nav ul li{
  display: inline-block;
  vertical-align: middle;
  /* line-height: inherit; */
}
nav ul li a{
 text-transform: uppercase;
 text-decoration: none;
 font-size: 10px;
 color: white;
 padding: 0 15px;

}
/* lista bottone flottata */
#float-right{
  float:right;
  padding: 7px 0px;
}
/* BUTTON */
#btn{
  border: 1px solid white;
  padding: 10px 26px;
  margin: 0px -6px;
  border-radius: 10px;
  margin-right: 10px;
}

.btn-green{
  background-color: green;
  border-radius: 10px;
  padding: 10px 10px;
  text-decoration: none;
  text-transform: uppercase;
  color: white;
}

.position{
  padding-top: 120px;
}

h1{
  font-size: 50px;
  margin-bottom: 20px;
  color: white;
}

.container > a{
  font-size: 10px;
}
/* UTILITY DIMENSIONAMENTO */
.container{
  width: 80%;
  margin: 0 auto;
}

 #bg-grey{
  background-color: #D3D3D3;
  height: 100px;
 /* line-height: 40px; */
  text-align: center;
}
#font-size{
  font-size: 25px;
  padding-top: 20px;
  padding-bottom: 5px;
}
.font-color{
  color: grey;
}
/* DIVISIONE UNA RIGA E TRE COLONNE */
.row{
  padding: 10px 15px;

  /* border-bottom: 2px solid black: */
}

[class^="col-"]{
    float: left;
    /*  */
  }
  /* CLEARFIX */
  .row:after{
  content: "";
  clear: both;
  display: table;
 }

 .col-100{
   width: 100%;
   /* background-color: lightgrey; */
   }
   .col-33{
     width: calc(100% /3);
     /* border: 1px solid black; */
     height: 100px:

   }
/* .col-33 img{
  width: 200px;
  height: 100px;
} */
hr{
  width: 20%;
  margin: 0 auto;
}
.col-33{
  text-align: center;
}
.col-33 > h3{
  color: green;
  margin-bottom: 20px;
}

.col-33 > p{
  margin: 20px 0px;
}
/* .profile{

} */
.computer{
  padding: 35px 60px;
}
.doc{
  padding: 35px 30px;
}
.col-33 > img{
  margin-top: 20px;
  margin-bottom: 20px;

}
.img-height{
  height: 150px;
  width: 100%;
}
.profile > .img-height{
  margin-top: 55px;
}
/* .profile > img{
  height: 134px;

}*/
.linea-mezzaria{
  width: 100%;
}

.col-50{
  width: 50%;

}
#img-size{
  height: 400px;
  width: 100%;
  margin-top: 25px;
}

.spaziatura{
  /* padding-left: 50px;
  padding-top: 20px; */
  padding: 35px 65px;
}
#text-size{
  font-size: 30px;
  margin-bottom: 30px;
}
.spaziatura > p{
  margin-bottom: 20px;
}
.text-size{
  font-size: 20px;
}
 /*.computer >img{
margin-top: 30px;
}
.doc >img{

} */
 /* .row > h3 , p{
  padding: 30px 0px;
} */

footer{
  background-color: #D3D3D3;
  height: 100px;

}
 .footer{
  /* line-height: 100px; */

}
.float-right{
  float: right;
  padding: 7px 0px;
  width: 50%;
  /* display: inline-block; */

}
/* #inline{
  display: inline-block;
} */
